/* Personality table */
.qquiz-pers-table {
	width:100%;
	vertical-align:top;
}

.qquiz-pers-table th {
	text-align: left;
}

.qquiz-pers-table tbody .newPersImgPreviewWrapper,
.questions-list-wrapper .question_image_thumb,
.questions-list-wrapper .answer_image_thumb {
	display:block;
	width:64px;
	height:64px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	border:1px solid #DDD;

	cursor: pointer;
}

.qquiz-pers-table tbody textarea {
	width:90%;
	height:auto;

	resize: none;
}

.qquiz-pers-table tbody input["type=text"] {
	border: 1px solid #DDD;
}

.qquiz-pers-table tbody td {
	vertical-align:top;
}

.qquiz-pers-table tbody .newPersRemovePersImg {
	opacity:0.2;
	cursor:pointer;

	width:24px;
	height:24px;
}

.qquiz-pers-table tbody .newPersRemovePersImg:hover {
	opacity:0.8;
}

#poststuff .inside footer {
	margin-top:6px;
	padding-top:6px;
	
	border-top: 1px solid #DDD;
}

/* Questions and answers */
input.fulltext {
	width:100%;
}

.question-wrapper {
  
}

.question-wrapper span {
	display: block;
	/*font-weight: bold;*/
}

.question-wrapper .question_image_thumb,
.question-wrapper .answer_image_thumb {
	display:block;
	height:66px;
	width:66px;
	
	border: 1px solid #DDD;
	cursor: pointer;
}

.question-wrapper .answers-list {
	padding: 20px;
	border-left: 1px solid #DDD;
}

.question-wrapper .answers-list input[type="text"] {
	display:block;
}

.question-wrapper .answers-list legend {
	font-weight: bold;
	font-size: 14px;
}

.question-wrapper .answer-wrapper {
	margin-bottom:20px;
    margin-right:20px;
    
    display: inline-block;
}

#qquiz_quests_meta_box span {
	margin-top: 10px;
}
